[submodule "AxtEngine/vendor/spdlog"]
	path = AxtEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "AxtEngine/vendor/glfw"]
	path = AxtEngine/vendor/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "AxtEngine/vendor/imgui"]
	path = AxtEngine/vendor/imgui
	url = https://github.com/dubtcs/imgui.git
[submodule "AxtEngine/vendor/glm"]
	path = AxtEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "AxtEngine/vendor/entt"]
	path = AxtEngine/vendor/entt
	url = https://github.com/skypjack/entt.git
